{% load static %}
{% load custom_tags %}

{% block css %}
<style>
    #navbarContainer,
    #nav-lg {
        background-color: transparent;
        position: sticky;
        top: -1;
        z-index: 5;
        transition: background-color 0.3s ease-in;
        /* Apply ease-in effect to background color change */
    }

    #navbarContainer:hover,
    #nav-lg:hover {
        background-color: #ffffff;
    }

    #nav-lg.scrolled {
        background-color: #ffffff;
    }

    #navbarContainer.scrolled {
        background-color: #ffffff;
    }

    #nav-lg ul li {
        letter-spacing: 2px;
    }
</style>
{% endblock css %}

<!-- Sidebar -->
<div class="container sidebar text-light pt-2 d-none" id="sidebarContainer">
    <ul class="d-flex flex-row justify-content-between align-items-center ps-0 mb-0">
        <li class="fs-3 brand-logo"><a href="{% url 'home' %}" class="nav-link"><img src="{% static 'logos/logo.png' %}"
                    alt="Unrols"></a></li>
        <li class="fs-4" onclick="toggleSidebar()"><i class="bi bi-x"></i></li>
    </ul>

    <ul class="d-flex flex-column ps-0" id="sidebarUl">
        <li class="me-4 text-uppercase mb-4 border-bottom pb-4"><a href="{% url 'home' %}" class="nav-link">Home</a>
        </li>
        <li class="me-4 text-uppercase mb-4 border-bottom pb-4"><a href="{% url 'products' slug='sunglasses' %}"
                class="nav-link">Collection</a></li>
        <li class="me-4 text-uppercase mb-4 border-bottom pb-4"><a href="{% url 'contact' %}"
                class="nav-link">Contact</a></li>
        <li class="me-4 text-uppercase mb-4 border-bottom pb-4"><a href="{% url 'about' %}" class="nav-link">About
                Us</a></li>
    </ul>

    <div class="cart-search-container">
        <ul class="d-flex flex-row d-flex flex-row align-items-center mb-0" style="padding-left: 0px !important;">
            <li class="ms-4 fs-2">
                <a class="cart" id="cart-item-count" href="{% url 'cart' %}">
                    <span class="count">
                        {{ request | items_count_guest }}
                    </span>
                    {% comment %} <!--   <span class="count">1</span> --> {% endcomment %}
                    <i class="material-icons bi bi-handbag"></i>
                </a>
            </li>
            {% comment "" %}
            {% if request.user.is_authenticated %}
            <li class="ms-2 fs-6 d-flex flex-row"><a href="{% url 'logout' %}" class="nav-link">Logout</a>
                &nbsp;|&nbsp; <a href="{% url 'myaccount' %}" class="nav-link">My account</a></li>

            {% else %}

            <li class="ms-0 fs-3"><a href="{% url 'login' %}" class="nav-link"><i class="bi bi-person"></i></a>
            </li>

            {% endif %}
            {% endcomment %}
        </ul>
    </div>
</div>

<!-- Navbar for large screens -->
<div class="container-fluid text-light d-none d-lg-block py-2 navbar" id="nav-lg">
    <div class="container-fluid d-flex flex-row align-items-center justify-content-around">

        <ul class="d-flex flex-row mb-0 ps-0 text-dark" id="nav-links" style="font-size: small;">
            <li class="me-4 text-uppercase"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li class="me-4 text-uppercase"><a href="{% url 'products' slug='sunglasses' %}"
                    class="nav-link">Collection</a></li>
            <li class="me-4 text-uppercase"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
            <li class="me-4 text-uppercase"><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
        </ul>

        <div class="brand-logo fs-2 fw-semibold">
            <a href="{% url 'home' %}" class="nav-link"><img src="{% static 'logos/unrols-logo.png' %}"
                    alt="Unrols Logo" title="logo" class="w-100"></a>
        </div>

        <div></div>
        <div></div>
        <div class="cart-search-container">
            <ul class="d-flex flex-row d-flex flex-row align-items-center mb-0">
                {% comment %} <li class="fs-4 searchBar"><a href="" class="nav-link"><i class="bi bi-search"></i></a>
                </li> {% endcomment %}
                <li class="ms-4 fs-2">
                    <a class="cart" id="cart-item-count" href="{% url 'cart' %}">
                        <span class="count">
                            {{ request | items_count_guest }}
                        </span>
                        {% comment %} <!--   <span class="count">1</span> --> {% endcomment %}
                        <i class="material-icons bi bi-handbag text-dark"></i>
                    </a>
                </li>
                {% comment "" %}
                {% if request.user.is_authenticated %}
                <li class="ms-2 fs-6 d-flex flex-row"><a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    &nbsp;|&nbsp; <a href="{% url 'myaccount' %}" class="nav-link">My account</a></li>

                {% else %}

                <li class="ms-0 fs-3"><a href="{% url 'login' %}" class="nav-link"><i class="bi bi-person"></i></a>
                </li>

                {% endif %}
                {% endcomment %}
            </ul>
        </div>

    </div>
</div>

<!-- Navbar for small screens -->
<div class="container-fluid text-light py-2 d-lg-none px-1" id="navbarContainer">
    <ul class="d-flex flex-row justify-content-between align-items-center list-style-none ps-2 mb-0 main-bar"
        style="height: 70px;">
        <li class="fs-1" onclick="toggleSidebar()"><i class="bi bi-list text-dark"></i></li>
        <li class="fs-3 brand-logo"><a href="{% url 'home' %}" class="nav-link"><img
                    src="{% static 'logos/unrols-logo.png' %}" alt="Unrols"></a></li>
        <div class="d-flex flex-row align-items-center justify-content-end flex-shrink-1">
            {% comment %} <li class="fs-4 searchBar"><i class="bi bi-search"></i></li> {% endcomment %}
            <li class="ms-2 fs-4">
                <a class="cart" id="cart-item-count" href="{% url 'cart' %}">
                    <span class="count">
                        {{ request | items_count_guest }}
                    </span>
                    {% comment %} <span class="count">1</span> {% endcomment %}
                    <i class="material-icons bi bi-handbag text-dark"></i>
                </a>
            </li>

        </div>
    </ul>
</div>
{% block js %}
<script>
    let navbar = document.querySelector('#nav-lg')
    let secondNavbar = document.querySelector('#navbarContainer')

    let sidebarContainer = document.getElementById('sidebarContainer')
    let navbarContainer = document.getElementById('navbarContainer')

    function toggleSidebar() {
        if (navbarContainer.classList.contains("d-none")) {
            navbarContainer.classList.remove("d-none")
            sidebarContainer.classList.add("d-none")
        } else {
            navbarContainer.classList.add("d-none")
            sidebarContainer.classList.remove("d-none")
        }
    }

    // Add a scroll event listener to the window
    window.addEventListener("scroll", () => {
        changeNavDisplay()
    })


    function changeNavDisplay() {
        // Check if the user has scrolled beyond a certain point (e.g., 100px from the top)
        if (window.scrollY > 100) {
            // If scrolled, add the "scrolled" class to change the background color
            navbar.classList.add('scrolled')
            secondNavbar.classList.add('scrolled')
        } else {
            // If not scrolled, remove the "scrolled" class to revert the background color
            navbar.classList.remove("scrolled")
            secondNavbar.classList.remove("scrolled")
        }

    }
</script>
{% endblock js %}