<style>
    a{
        text-decoration: none;
    }
</style>
<div class="container-fluid bg-white py-4">
    <div class="container text-center text-dark pb-3 px-2">
        <h3>Experience Customer Service Like Never Before! </h3>
        <p class="w-75 mx-auto mt-4">At Unrols, we take pride in offering unparalleled customer service that goes above and beyond to make your shopping journey truly exceptional. Our dedicated customer service team is here to ensure your satisfaction at every step, providing you with a seamless and delightful experience.</p>
        <div class="row">
            <a href="{% url 'contact' %}" target="_blank" class="customBtnDark py-2 mx-auto w-50"
                style="font-size: small !important;">Contact Us
            </a>
        </div>
    </div>
    <hr>

    <div class="container text-center text-dark pb-3 px-2">
        <h3>Our Store Policy: Your Shopping Satisfaction Comes First!</h3>
        <p class="w-75 mx-auto mt-4">At Unrols, we are committed to providing you with a seamless and enjoyable shopping experience. To ensure clarity and transparency, we've crafted our Store Policy, putting your needs at the forefront of every decision we make.</p>
        <div class="row">
            <a href="{% url 'policy' %}" target="_blank" class="customBtnDark py-2 mx-auto w-50"
                style="font-size: small !important;">Read More
            </a>
        </div>

    </div>
</div>