<div class="container-fluid container-lg my-5">
    <div class="row">
        <p>You may also like</p>
    </div>
    <div class="row row-cols-lg-4 mb-2 row-cols-2 px-1">

        {% for product in recommended_products %}
        <a href="{% url 'product' cat=product.category.slug slug=product.slug %}" class="product col product1 px-1 nav-link">
            <div class="product-image-container">
                <img src="{{ product.image.url }}" class="w-100" alt="">
            </div>
            <div class="product-info">
                <p class="product-title mt-2 mb-1">{{ product.name }}</p>
                <p class="product-price text-start">{{ product.price }} PKR</p>
            </div>
        </a>
        {% endfor %}

    </div>

    <div class="row text-center mb-4 d-lg-none">
        <a type="button" class="customBtnDark w-50 mx-auto py-2" >View All</a>
    </div>
</div>