<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Unrols",
      "alternateName": "Unrols Fashion Accessories",
      "url": "https://unrols.com",
      "logo": "https://unrols.com/static/img/favicon2.png",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+92 03198092449",
        "contactType": "customer service",
        "areaServed": "PK",
        "availableLanguage": "en"
      },
      "sameAs": [
        "https://www.instagram.com/unrolspk/",
        "https://www.facebook.com/unrols"
      ]
    }
</script>