{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid my-5">
        <h2 class="text-center">MY ACCOUNT</h2>
        <br class="d-md-none">
        <div class="container-fluid container-md px-0">
            <h3>ORDER HISTORY</h3>
            <hr>
            {% if orders %}
                {% for order in orders %}
                    <p class="fw-semibold">Order: {{ order.transaction_id }}</p>
                    <p class="fw-semibold">Items: </p>
                    <p>{{ order.order_details }}</p>
                    <p><span class="fw-semibold">Total: </span> {{ order.bill }} PKR</p>
                    <p><span class="fw-semibold">Date: </span> {{ order.created_at }}</p>
                    <hr>
                {% endfor %}
            {% else %}
                <p>You haven't placed any orders yet.</p>
            {% endif %}
            <br><br>
            <h3>ACCOUNT DETAILS</h3>
            <hr>
            <p><b> {{ request.user.first_name }} {{ request.user.last_name }} </b></p>
            <p>Email: {{ request.user.email }}</p>
            <a href="{% url 'password_change' %}">Change Password</a>
            <br><br>
            <a role='button' href="{% url 'addresses' %}" class="customBtnBlack p-3 text-decoration-none">View Addresses&nbsp;({{ address_count | default:'0' }})</a>
        </div>
    </div>
    <br><br><br><br>
{% endblock content %}