{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <style>
        .image-container img{
            object-fit: cover;
            margin-bottom: 10px;
        }

        @media only screen and (min-width: 1024px){
            .image-container{
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 10px;
                margin-bottom: 0px;
                height: 50%;
                /* width: 100%; */
            }
            .image-container img{
                height: 100% !important;
            }
            .quality-para p{
                width: 50%;
                margin: 0 auto !important;
            }
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="container my-4">
        <div class="image-container">
            <img src="{% static '/img/black-sunglasses.webp' %}" alt="Black Sunglasses" class="w-100 h-75">
            <img src="{% static '/img/skyblue-sunglasses.webp' %}" alt="Sky Blue Sunglasses" class="w-100 h-75">
            <img src="{% static 'img/gray-sunglasses.webp' %}" alt="Gray Sunglasses" class="w-100 h-75">
        </div>
        <br>
        <h1 class="mt-5 mb-3">About Unrols</h1>

        {% autoescape off %}
            {{ description }}
        {% endautoescape %}
        
    </div>
{% endblock content %}