<html lang="en">
{% load static %}
{% load custom_tags %}

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NMY2HV1KC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-2NMY2HV1KC');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title_tag }}</title>
    <meta name='author' content="Unrols">
    <meta name="title" content="{{ title_tag }}">
    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{ request.path }}">
    <link rel="home" href="{% url 'home' %}">

    <link rel="icon" href="{% static 'logos/unrols.webp' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@100;200&family=Raleway:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>

    <script>
        let user = '{{ request.user }}'

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";")

            // Loop through the array elements 
            for (let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=")

                /* Removing whitespaces at the beginning of the cookie name
                and compare it with the given string */
                if (name == cookiePair[0].trim()) {
                    // Decode the cookie value and return 
                    return decodeURIComponent(cookiePair[1])
                }
            }
            // Return null if not found
            return null
        }

        let cart = JSON.parse(getCookie('cart'))
        if (cart == undefined) {
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
    </script>
    {% block css %}{% endblock css %}
</head>

<body class="bg-white">
    {% comment "Display orders" %} {% endcomment %}
    {% include "partials/display_orders.html" %}

    {% include "partials/top_header.html" %}
    {% include "partials/navbar.html" %}
    

    {% block content %}

    {% endblock content %}
    <br>
    {% comment %} Instagram Feed Embed {% endcomment %}
    <div class="ig-feed-sm">
        {% ig_data %}
    </div>
    <div class="ig-feed-lg">
        {% ig_data_lg%}
    </div>
    <!-- FOOTER -->
    {% include "partials/footer.html" %}

</body>
{% block js %}{% endblock js %}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ig_feed.js' %}"></script>
<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->

</html>