{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<style>
    .product-image-container img {
        height: 200px;
        object-fit: cover;
    }

    a.customBtnDark{
        text-decoration: none;
    }
    a.customBtn:hover {
        border: 2px solid white;
        margin: -1px;
    }

    @media only screen and (min-width:768px) {
        .customBtnDark {
            width: 25% !important;
        }
    }
    @media only screen and (min-width: 1024px){
        #customerReview p{
            width: 60% !important;
        }
        #top-banner{
            margin-top: -88px;
        }
    }
</style>
{% endblock css %}
{% block schema %}
{% include 'partials/structured_data.html' %}
{% endblock schema %}
{% block content %}


{% comment "Newsletter" %}  
{% include "partials/newsletter_popup.html" %}
{% endcomment %}

<!-- TOP BANNER CONTAINER -->
<div class="container-fluid px-0 bg-secondary" id="top-banner">
    <div class="top-banner-image position-relative text-light">
        <img src="{{ mobile_banner_image }}" alt="{{ mobile_banner_image.alt_tag }}"
            class="w-100 h-100 d-md-none" style="height: 350px; object-fit: cover;">
        <img src="{{ desktop_banner_image }}" class="w-100 d-none d-md-block opacity-75"
            alt="{{ desktop_banner_image.alt_tag }}" style="height: 600px; object-fit: cover;">
        <div
            class="container position-absolute top-banner-info translate-middle-x d-flex flex-column align-items-center d-md-none" style="margin-top: 100px;">
            <h1 class="text-center mb-3 fw-bold text-light lh-base fs-3 w-75 text-uppercase opacity-75">Shade your Style with our Exclusive Sunglasses Collection.</h1>
            <a href="{% url 'products' slug='sunglasses' %}"
                class="customBtn text-center px-4 py-2 text-decoration-none text-uppercase">Shop Now</a>
        </div>
    </div>
</div>

<!-- MAIN CONTENT CONTAINER -->
<div class="container-fluid bg-white py-4 d-flex flex-column align-items-center text-center px-1" id="mainContentContainer">
    <h3 class="w-75 fw-medium">Discover Endless Elegance</h2>
        <p class="my-3">
            Indulge in our luxurious selection of sunglasses, each meticulously crafted to complement your
            unique personality and flair. From sleek classics to statement pieces, our collection has something to suit
            every occasion and mood.
        </p>


        <div class="container-fluid my-4 px-1">
            <h3 class="mb-4">Sunglasses</h3>
            <div class="row mb-2 row-cols-2 row-cols-md-3 row-cols-lg-4 gx-2 products-wrapper">

                {% for variant in sunglasses %}
                {% include 'partials/product.html' %}
                {% endfor %}

            </div>


            <div class="row">
                <a href="{% url 'products' slug='sunglasses' %}" class="customBtnDark py-2 mx-auto w-50"
                    style="font-size: small !important;">Discover
                    Sunglasses</a>
            </div>
        </div>
        <br>

</div>


<!-- Banner -->
<div class="container-fluid">
    <div class="img-wrapper">
        <!-- Secondary Desktop Banner -->
        <img src="{{ secondary_desktop_banner }}" alt="" class="w-100 d-none d-md-block">
        <!-- Secondary Mobile Banner -->
        <img src="{{ secondary_mobile_banner }}" alt="" class="w-100 d-md-none">
    </div>
</div>


<div class="container-fluid text-light py-5 d-none" id="latestProducts" style="background-color: #111;">
    <h3 class="text-center">New Releases</h2>
        <p class="text-center text-light">Step into a realm of captivating style as we proudly present our New Products
            Arrival at Unrols. Prepare to be dazzled by a handpicked selection of fashion accessories that exude
            elegance, trendiness, and timeless charm. With each piece carefully curated to elevate your wardrobe, our
            latest arrivals promise to be the epitome of sartorial excellence.</p>

        <!-- NEW PRODUCTS CAROUSEL -->
        <div id="carouselExampleAutoplaying" class="carousel slide latest-products-container" data-bs-ride="carousel">
            <div class="carousel-inner">

                {% for variant in products %}
                <div class="carousel-item active">
                    <img src="{{ variant.medium }}" class="d-block w-100" alt="{{ variant.alt_tag }}">
                </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

</div>

<!-- CUSTOMER REVIEWS CONTAINER -->
<div class="container-fluid bg-white text-center pt-5 pb-2" id="customerReview">
    <h3>Hear What Our Customers Are Saying!</h3>
    <p class="w-100 mx-auto">Discover why our online store is a shopper's paradise through the heartfelt words of our
        valued customers. At Unrols, we take pride in delivering exceptional products and top-notch service, and our
        customer reviews are a testament to the satisfaction and joy we bring to each shopping experience.</p>
    <br>
    <div class="row">
        <div class="trustpilot-widget ms-auto" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad"
            data-businessunit-id="64fb4c0779f5cdb0dae809e6" data-style-height="44px" data-style-width="100%"
            data-theme="light" data-min-review-count="20" data-without-reviews-preferred-string-id="1"
            data-style-alignment="start">
            <a href="https://www.trustpilot.com/review/unrols.com" target="_blank" rel="noopener">Trustpilot</a>
        </div>
    </div>
</div>

<hr>
<br>
<div class="container features-container d-flex flex-column flex-md-row justify-content-around">
    <div class="d-flex flex-column align-items-center">
        <img src="{% static "icons/fast-delivery-512.png" %}" alt="">
        <p class="mt-1">Free & Fast Shipping</p>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img src="{% static "icons/help-desk-512.png" %}" alt="">
        <p class="mt-2">Quick Customer Support</p>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img src="{% static "icons/wallet-512.png" %}" alt="">
        <p class="mt-2">Affordable Prices</p>
    </div>
</div>



{% endblock content %}
{% block js %}
<script src="{% static "js/index.js" %}"></script>
{% endblock js %}