{% extends 'core/base.html' %}
{% load static %}
{% block css %}
</style>
{% endblock css %}

{% block content %}
<div class="container my-4 px-1">
    <h1 class="my-5 heading-spaced text-center">Summer Inspiration</h1>

    <div class="container image-container-first w-100 mb-1">
        <div class="row row-cols-2">

            <div class="col p-1">
                <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
            </div>
            <div class="col p-1">
                <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
            </div>
            <div class="col p-1">
                <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
            </div>
            <div class="col p-1">
                <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
            </div>

        </div>
    </div>

    <div class="container image-container-second mb-1">
        <div class="image w-100">
            <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100 h-100">
        </div>
        <div class="container">

            <div class="images w-100 row row-cols-2">
                <div class="col px-0">
                    <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
                </div>
                <div class="col px-0">
                    <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
                </div>
                <div class="col px-0">
                    <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
                </div>
                <div class="col px-0">
                    <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>

    <div class="container image-container-third d-flex flex-row w-100 mb-1 px-0">
        <img src="{% static 'img/watch.jpg' %}" alt="" class="w-25 pe-1">
        <img src="{% static 'img/watch.jpg' %}" alt="" class="w-25 pe-1">
        <img src="{% static 'img/watch.jpg' %}" alt="" class="w-25 pe-1">
        <img src="{% static 'img/watch.jpg' %}" alt="" class="w-25">
    </div>

    <div class="container image-container-fourth d-flex flex-row mb-1 px-0">
        <div class="images w-25 d-flex flex-column pe-1">
            <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100 pb-1">
            <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100 pb-1">
            <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100 ">
        </div>
        <div class="image w-75">
            <img src="{% static 'img/watch.jpg' %}" alt="" class="w-100">
        </div>
    </div>

    <div class="container image-container-fifth d-flex flex-row w-100 px-0">
        <img src="{% static 'img/watch.jpg' %}" alt="" class="w-25 pe-1">
        <img src="{% static 'img/watch.jpg' %}" alt="" class="w-25 pe-1">
        <img src="{% static 'img/watch.jpg' %}" alt="" class="w-25 pe-1">
        <img src="{% static 'img/watch.jpg' %}" alt="" class="w-25 ">
    </div>

    <!-- RECOMMENDED PRODUCTS CONTAINER -->
    <div class="container my-5">
        <div class="row">
            <p class="px-0 fs-4">Featured</p>
        </div>
        <div class="row row-cols-lg-4 mb-2 row-cols-2 px-0">

            {% for variant in products %}
            {% include 'partials/product.html' %}
            {% endfor %}

        </div>

        <div class="row text-center mb-4 d-lg-none">
            <a class="customBtnDark py-2 w-50 mx-auto text-decoration-none" role="button" id="viewAllBtn"
                href="{% url 'products' slug='sunglasses' %}">View All</a>
        </div>
    </div>
</div>
{% endblock content %}