{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<style>
    .product-image-container img {
        height: 200px;
        object-fit: cover;
    }

    .pagination li a {
        border: none;
    }

    .page-link:hover {
        /* color: gray; */
        text-decoration: underline;
    }
</style>
{% endblock css %}
{% block content %}
<div class="container my-5 px-2">
    <h1 class="category-title ps-0">{{ category | capfirst }}</h1>
    <div class="row text-secondary mb-2 filters">
        <div class="col"><i class="bi bi-sliders">&nbsp;Filter & Sort</i></div>
        <div class="col text-end">{{ product_count }} products</div>
    </div>

    <div class="container-fluid container-md my-4 mx-0 px-0">
        <div class="row mb-2 row-cols-2 row-cols-md-3 row-cols-lg-4 gx-2 products-wrapper">
            {% if page_obj %}
            {% for variant in page_obj %}
                {% include 'partials/product.html' %}
            {% endfor %}
            {% else %}
                <h2 class="px-0">No Products Yet.</h2>
            {% endif %}

        </div>
    </div>
</div>

<div class="container d-flex flex-row align-items-center justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item bg-light">
                <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            <li class="page-item ">
                <a class="page-link text-dark bg-light" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
            <li>
                <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>


{% endblock content %}