{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<style>
    /* UTILITY CLASSES */
    .op-0 {
        opacity: 0;
    }

    .carousel-image {
        height: 400px;
        object-fit: cover;
    }

    @media only screen and (min-width:768px) {
        #addToCartBtn {
            width: 60% !important;
        }

        .carousel-image {
            height: 500px;
            object-fit: cover;
        }
    }

    @media only screen and (min-width: 1024px) {}

    #colors {
        padding: 4px;
        margin-top: 20px;
    }

    .color-div {
        width: 55px;
        height: 55px;
        border-radius: 60px;
    }

    .color-div-inner img {
        width: 45px;
        height: 45px;
        border-radius: 60px;
        padding: 2px;
    }


    .color-active {
        border: 2px solid darkgray;
    }

    .disableBtn {
        opacity: 20%;
    }
</style>
{% endblock css %}

{% block content %}

<!-- product display container for large screens - START  -->
<!-- product display container for large screens - END  -->



<!-- product display container for small screens - START -->
<br class="d-lg-none"><br class="d-lg-none">
<div class="container-fluid text-center px-0 d-lg-flex flex-row" id="productDisplay">

    <div class="container-fluid px-0 w-100"> <!-- Product Images Div -->

        <!-- For small screens -->
        <div class="container-fluid px-0 product-title-details d-lg-none">
            <h1 class="fs-4 mb-0">{{ product.name }}</h1>
            <p style="font-size: small;" class="mb-1 text-secondary">{{ product.code }}</p>
            <h4 class="text-secondary mb-0 text-decoration-line-through fs-6">Rs.&nbsp;<span>2000.00</span>&nbsp;PKR
            </h4>
            <h4 class="fs-4 fw-normal"> Rs.&nbsp; <span class="variant-price"></span>&nbsp;PKR</h4>
        </div>
        <br class="d-lg-none">
        <div class="container-fluid d-flex flex-column align-items-center px-0 mx-0 w-100" id="product-image-container">
            <div id="carouselExampleFade" class="carousel slide carousel-fade w-100">
                <div class="carousel-inner">
                    {% for variant in variants %}
                    <div class="carousel-item" data-bs-color="{{ variant.color.name }}"
                        data-bs-variant="{{ variant.id }}" data-bs-stock="{{ variant.stock.stock }}"
                        data-bs-price="{{ variant.price }}">
                        <img src="{{ variant.imageURL }}" class="d-block w-100 carousel-image" alt="...">
                        <h6 class="fw-semibold text-secondary active-color fs-6 mt-2 d-lg-none">COLOR: <span
                                class="text-dark text-uppercase">RED</span></h6>
                        <p
                            class="text-danger fw-semibold mb-0 d-lg-none {% if variant.stock.stock %}opacity-0{% endif %}">
                            Sorry, This color is currently unavailable.
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev carousel-btn" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next carousel-btn" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <br class="d-none d-lg-block">
    <br class="d-none d-lg-block">
    <div class="container-fluid px-0 w-100 mb-2"> <!-- Product details div -->
        <!-- For Large Screens -->
        <div class="container product-title-details d-none d-lg-block mt-5">
            <h1 class="fs-4 mb-0">Luminex AuraVista Shades</h1>
            <p style="font-size: small;" class="mb-2 text-secondary">UNS-001</p>
            <p class="text-secondary mb-0 text-decoration-line-through">Rs.&nbsp;<span>2000.00</span>&nbsp;PKR</p>
            <h4 class="fs-4 fw-normal"> Rs.&nbsp; <span class="variant-price"></span>&nbsp;PKR</h4>
        </div>

        <h6 class="fw-semibold text-secondary active-color fs-6 d-none d-lg-block">COLOR: <span
                class="text-dark text-uppercase">RED</span>
        </h6>
        <div id="colors" class="d-flex flex-row justify-content-center mt-0">
            {% for variant in variants %}
            <div class="color-div me-2 d-flex flex-row justify-content-center align-items-center">
                <div class="color-div-inner" data-bs-color="{{ variant.color.name }}"
                    data-slide-to="{{ forloop.counter }}">
                    <img src="{{ variant.color.imageURL }}" alt="">
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="out-of-stock-msg op-0">
            <p class="text-danger fw-semibold d-none d-lg-block">Sorry, this color is currently unavailable.</p>
        </div>
        <form action="" method="post" class="addToCartForm my-4">
            {% csrf_token %}


            <div class="container-fluid mb-2 px-0 d-flex flex-column justify-content-center align-items-center w-75">
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="variantId" value="" id="variantId">
                <button type="submit" class="customBtnBlack py-2 cartBtn w-100" id="addToCartBtn">Add to
                    cart</button>
                <p class="text-success mt-1 item-added">Added to cart.&nbsp;<i class="bi bi-check-circle"></i> </p>
            </div>

        </form>
        <div class="container-fluid px-0 mb-2 d-none">
            <button class="customBtnBlack py-2" id="buyNowBtn">Buy it now</button>
        </div>
        <div class="shipping-details" style="letter-spacing: 2px; font-size: x-small;">

            <p class="text-secondary text-uppercase fw-semibold mb-0">Order now and it ships by</p>
            <span class="text-dark fw-medium text-uppercase">Tuesday, August 29</span>
            <br><br>
            <div class="container-fluid d-md-flex flex-row justify-content-around align-items-center">

                <div class="fast-delivery">
                    <img src="{% static 'icons/fast-delivery.png' %}" alt="">
                    <p class="text-uppercase fw-semibold text-secondary pt-1">Fast Delivery</p>
                </div>

                <div class="refund-guarantee">
                    <img src="{% static 'icons/7.png' %}" alt="">
                    <p class="text-uppercase fw-semibold text-secondary pt-1">7 day money back guarantee</p>
                </div>

                <div class="customer-support">
                    <img src="{% static 'icons/telemarketer.png' %}" alt="">
                    <p class="text-uppercase fw-semibold text-secondary pt-1">24/7 Customer Support</p>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container-fluid description bg-light px-0">
    <div class="container d-flex flex-column justify-content-center align-items-center pt-5">

        <h3 class="fs-4">Description</h3>
        <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum in fuga, modi ad cum beatae fugiat
            explicabo!
            Cupiditate quisquam nihil error nemo eum ex nobis, modi ullam! Consequatur, aliquam voluptatem! Quasi eius
            non accusamus ab corporis unde obcaecati, numquam, perferendis expedita, maxime a ratione incidunt amet
            esse. Quae voluptas incidunt odio voluptatum similique ipsa omnis magnam repellat ullam reiciendis veritatis
            culpa dolores maiores eligendi temporibus quis atque distinctio cumque, quisquam, magni in. Consectetur
            expedita asperiores, temporibus, voluptates labore quas doloribus tenetur nobis molestias eius ipsam vitae
            illum placeat atque sequi cumque? Unde ducimus eos voluptatibus quae quo culpa magni assumenda.</p>
    </div>

</div>
<br>
<div class="container-fluid">
    <h6 style="font-size: small;" class="mb-3">You may also like</h6>
    <div class="container-fluid px-0">
        <div class="row row-cols-2 px-1">
            {% for product in recommended_products %}
            <div class="col px-0">
                {% include "partials/product.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}

<script>
    $(document).ready(function () {

        const carousel = $('.carousel')
        const colorContainer = $('#colors')
        const carouselItems = $('.carousel-item')
        const colors = $('.color-div')

        $activeColor = $('.active-color').children('span')
        $activeColor.text($(carouselItems[0]).attr('data-bs-color'))
        $('.variant-price').text($(carouselItems[0]).attr('data-bs-price'))
        $(carouselItems[0]).addClass('active')
        $(colors[0]).addClass('color-active')

        // setting initial variantId in input field.
        $carouselItem = $(carouselItems[0]).attr('data-bs-variant')
        $('#variantId').val($carouselItem)

        $(carousel).on('slide.bs.carousel', event => {
            console.log(event)
            $color = $(event.relatedTarget).attr('data-bs-color')
            $stock = $(event.relatedTarget).attr('data-bs-stock')
            $price = $(event.relatedTarget).attr('data-bs-price')

            if ($stock == 'False') {
                $('#addToCartBtn').addClass('disableBtn')
                $('#addToCartBtn').prop('disabled', true)
                $('.out-of-stock-msg').removeClass('op-0')
            } else {
                $('#addToCartBtn').removeClass('disableBtn')
                $('#addToCartBtn').prop('disabled', false)
                $('.out-of-stock-msg').addClass('op-0')
            }

            // Updating variant price 
            console.log('price', $price)
            $('.variant-price').text($price)
            console.log($stock)
            $variantId = $(event.relatedTarget).attr('data-bs-variant')
            // Setting add to cart from input variantId value
            $('#variantId').val($variantId)

            console.log('input', $('#variantId').val())
            console.log('Active variant: ', $variantId)
            $(colorContainer).children('div.color-div').removeClass('color-active')
            for (let i = 0; i < colors.length; i++) {
                let item = $(colors[i]).children('.color-div-inner')
                if (item.attr('data-bs-color') == $color) {
                    item.parent('.color-div').addClass('color-active')
                }
            }
        })

        // $('.carousel').carousel()
        // click event for color btns
        $('#colors').on('click', '.color-div-inner', function (e) {
            e.preventDefault()
            $slideIndex = parseInt($(this).attr('data-slide-to'))
            console.log('color index: ', $slideIndex - 1)
            $('.carousel').carousel($slideIndex - 1) //Navigate to the specific slide
            $('div.color-div').removeClass('color-active')
            $(this).parent('div.color-div').addClass('color-active')
        })

    })
</script>

<script src="{% static 'js/cart.js' %}"></script>
{% endblock js %}